In [2]:
import pandas as pd
master = pd.read_csv("../data/master_dataset.csv")

In [11]:
#customer lifetime value
clv = master.groupby("customer_id")["revenue"].sum().reset_index()
clv = clv.rename(columns={"revenue": "customer_lifetime_value"})

print(clv)

     customer_id  customer_lifetime_value
0              1                   692985
1              2                   693777
2              3                   416376
3              4                   515838
4              5                   301383
..           ...                      ...
495          496                   669037
496          497                   456924
497          498                  1229418
498          499                   590842
499          500                   232971

[500 rows x 2 columns]

In [7]:
#total revenue by product, category and supplier.

revenue_product =   master.groupby("product_id")["revenue"].sum().reset_index()
print(revenue_product.head())
revenue_category = master.groupby("category")["revenue"].sum().reset_index()
print(revenue_category.head())
revenue_supplier = master.groupby("supplier")["revenue"].sum().reset_index()
print(revenue_supplier.head())

   product_id  revenue
0           1  2898416
1           2  3194760
2           3  3926754
3           4  1516134
4           5  2178246
      category   revenue
0        Books  38913866
1  Electronics  56030257
2      Fashion  40979433
3    Groceries  59987546
4         Home  40566464
     supplier   revenue
0  Supplier A  83066177
1  Supplier B  57090443
2  Supplier C  80149746
3  Supplier D  80265768

In [ ]:
# monthly revenue trend

master["signup_date"] = pd.to_datetime(master["signup_date"])
master["timestamp"] = pd.to_datetime(master["timestamp"])  # <-- this is needed

master["year_month"] = master["timestamp"].dt.to_period("M")

monthly_trend = (
    master.groupby("year_month")["revenue"]
    .sum()
    .reset_index()
    .rename(columns={"revenue": "total_revenue"})
)

print(monthly_trend.head())

  year_month  total_revenue
0    2021-01        9234338
1    2021-02        6890176
2    2021-03        8652073
3    2021-04        7739719
4    2021-05        7378699