In [12]:
import pandas as pd

product = pd.read_csv("../data/products.csv")
customers = pd.read_csv("../data/customers.csv")
sales = pd.read_csv("../data/sales.csv")

In [37]:
# checking for missing files using is null method
print("\nMissing values:\n", product.isnull().sum())

print("\nMissing values:\n", customers.isnull().sum())

print("\nMissing values: \n", sales.isnull().sum())

Missing values:
 product_id    0
name          0
category      0
supplier      0
price         0
dtype: int64

Missing values:
 customer_id    0
location       0
gender         0
signup_date    0
dtype: int64

Missing values:
 sale_id        0
product_id     0
customer_id    0
timestamp      0
quantity       0
price          0
revenue        0
dtype: int64

In [27]:
#check title of columns

print("Columns for product:", product.columns.tolist())
print("Columns for sales:", sales.columns.tolist())
print("Columns for customers:", customers.columns.tolist())

Columns for product: ['product_id', 'name', 'category', 'supplier', 'price']
Columns for sales: ['sale_id', 'product_id', 'customer_id', 'timestamp', 'quantity', 'price', 'revenue']
Columns for customers: ['customer_id', 'location', 'gender', 'signup_date']

In [28]:
#check for duplicate

print("Duplicates in product:", product.duplicated().sum())
print("Duplicates in sales:", sales.duplicated().sum())
print("Duplicates in customers:", customers.duplicated().sum())

Duplicates in product: 0
Duplicates in sales: 0
Duplicates in customers: 0

In [ ]:
#checking for standardize format in dates, gender, locations, suppliers_name using uniques method

print(customers["gender"].unique())
print(customers["location"].unique())
print(product["supplier"].unique())
print(customers["signup_date"].nunique())

['Male' 'Female']
['Ibadan' 'Port Harcourt' 'Kano' 'Abuja' 'Enugu' 'Lagos']
['Supplier A' 'Supplier D' 'Supplier C' 'Supplier B']
399

In [ ]:
#detecting outliers

Qs1 = sales["price"].quantile(0.25)
Qs3 = sales["price"].quantile(0.75)

#outliers for sales
print(f"Lower quantile for sales : {Qs1}, Upper quantile for sales : {Qs3}")

Qp1 = product["price"].quantile(0.25)
Qp3 = product["price"].quantile(0.75)

#outliers for product
print(f"Lower quantile for product : {Qp1}, Upper quantile for product : {Qp3}")

Lower quantile for sales : 12245.0, Upper quantile for sales : 33839.0
Lower quantile for product : 12390.5, Upper quantile for product : 33943.25

In [ ]:
#create a new column  _revenue

sales['_revenue'] = sales['price'] * sales['quantity']

In [82]:
#save corrected data to new path

sales.to_csv("../data/cleaned_sales.csv", index=False)

In [96]:
#merge all the data

master = (
    sales
    .merge(customers, on="customer_id", how="left")
    .merge(product, on="product_id", how="left")
)
master.to_csv("../data/master_dataset.csv", index=False)
print(master.head())

   sale_id  product_id  customer_id   timestamp  quantity  price_x  revenue  \
0        1          61           76  2022-12-06         3    29741    89223
1        2          35          495  2022-10-24         2     7991    15982
2        3          64          461  2021-11-06         2    12245    24490
3        4          25          114  2022-05-10         3    33839   101517
4        5          24          111  2021-12-04         3     1935     5805

   _revenue       location  gender signup_date        name     category  \
0     89223  Port Harcourt    Male  2022-01-17  Product_61         Toys
1     15982  Port Harcourt    Male  2021-06-29  Product_35  Electronics
2     24490          Lagos  Female  2020-11-30  Product_64      Fashion
3    101517  Port Harcourt    Male  2022-04-15  Product_25        Books
4      5805           Kano    Male  2022-11-15  Product_24      Fashion

     supplier  price_y
0  Supplier D    29741
1  Supplier A     7991
2  Supplier C    12245
3  Supplier D    33839
4  Supplier B     1935

     customer_id  customer_lifetime_value
0              1                   692985
1              2                   693777
2              3                   416376
3              4                   515838
4              5                   301383
..           ...                      ...
495          496                   669037
496          497                   456924
497          498                  1229418
498          499                   590842
499          500                   232971

[500 rows x 2 columns]